.basics {
	padding: 5% 10%;
}

.basic-list {
	list-style: none;
}

.basic-item {
	margin-top: 5%;
	padding: 2% 5%;
}

.descrip {
	color: #092532;
	font-size: 115%;
}

.basic-list ion-icon {
	font-size: 450%;
	margin-bottom: 5%;
	color: #89c9b8;
}
